/*
 * Code block e.g. 
 * ```js
 *   const a = 1;
 * ```
 */

@tailwind base;
@tailwind components;
@tailwind utilities;

div[data-rehype-pretty-code-fragment] {
  overflow: hidden;
  @apply mt-8 mb-2 rounded-lg bg-white/70 leading-6 lg:-mx-8;
  @apply dark:bg-black/40;
}

div[data-rehype-pretty-code-fragment] pre {
  overflow-x: auto;
  @apply py-2 text-sm leading-7;
}

div[data-rehype-pretty-code-fragment] code {
  display: grid; /* make highlighted lines span the width of a horizontally-scrollable code block */
}

/*
     * Code block titles
     */

div[data-rehype-pretty-code-title] {
  @apply rounded-tr-md rounded-tl-md bg-blue-500 px-3 py-1 font-mono text-xs text-blue-100 shadow-sm;
  @apply dark:bg-slate-800;
}

/*
     * Lines
     */
div[data-rehype-pretty-code-fragment] .line {
  @apply border-l-4 border-l-transparent pl-2 pr-4;
}

div[data-rehype-pretty-code-fragment] .line--highlighted {
  /* box-shadow: 125px 0px 44px -90px rgba(134, 134, 134, 0.354) inset; */
  @apply border-l-blue-500 bg-blue-200/20;
  @apply dark:bg-blue-100/5;
}

/*
     * Numbered lines
     */
code[data-line-numbers] {
  counter-reset: line;
}

code[data-line-numbers] .line::before {
  counter-increment: line;
  content: counter(line);
  @apply mr-3 w-4 text-neutral-400 inline-block text-right;
  @apply dark:text-white/20;
}

code[data-line-numbers] .line--highlighted::before {
  @apply text-neutral-600;
  @apply dark:text-slate-300;
}

/*
     * Highlighted word & inline code block
     */
p > code,
li > code,
span[data-rehype-pretty-code-fragment],
div[data-rehype-pretty-code-fragment] .word--highlighted {
  @apply rounded-lg border border-neutral-500/10 bg-slate-200/10 shadow-sm px-1.5 py-[2px] font-mono text-[13px];
  @apply dark:bg-neutral-800/20 dark:border-neutral-700/50;
}

/*
     * inline code block e.g. 
     * `const a = 1{:js}`
     */
p > code,
li > code,
span[data-rehype-pretty-code-fragment] {
  @apply whitespace-nowrap text-blue-500;
  @apply dark:text-blue-500;
}

/*
Theme change
*/

html[class="light"]
  div[data-rehype-pretty-code-fragment]
  code[data-theme="dark"] {
  display: none;
}

html[class="light"]
  div[data-rehype-pretty-code-fragment]
  pre[data-theme="dark"] {
  display: none;
}

html[class="light"] div[data-theme="dark"] {
  display: none;
}

html[class="light"] code[data-theme="dark"] {
  display: none;
}

html[class="dark"]
  div[data-rehype-pretty-code-fragment]
  code[data-theme="light"] {
  display: none;
}

html[class="dark"]
  div[data-rehype-pretty-code-fragment]
  pre[data-theme="light"] {
  display: none;
}

html[class="dark"] div[data-theme="light"] {
  display: none;
}

html[class="dark"] code[data-theme="light"] {
  display: none;
}
